.text-primary {
  color: #292929 !important;
}
.bg-primary {
  background-color: #292929 !important;
}

.btn-primary {
  background-color: #292929 !important;
  border-color: #292929 !important;
}

.btn-primary:hover {
  background-color: #484646 !important;
  border-color: #484646 !important;
}
.Second-modal {
  z-index: 1060 !important;
}
/* 
.modal-backdrop:nth-last-of-type(2) {
  z-index: 1055 !important;
} */